html{
    background-color: floralwhite;
    font-family: Helvetica, sans-serif;
    
}

.instruction_div{
    font-size: 25px;
}
#webtitle{
    color: white;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-left: 25%;
    font-size: 80px;
    color: black;
    font-weight: bold;
}


.filter_div span{
    background-color: floralwhite;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-left: 2px;
}

.filter_div span:hover{
    background-color: lightgray;
}

.filter h4{
    text-decoration: underline;
    margin-bottom: 10px;
    margin-left: 30%;
    font-size: 20px;
}
#genres{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}


.filter:nth-child(n+2){
    margin-left: 20px;
    margin-top: -15px;
    
    float: left;
}

#search_div{
 margin-left: 10%
}

#search_div h4{
    margin-left: 30%;
}
#search_div span{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}


#list_div
{
    float: right;
    width: 30%;
    height: 650px; 
    overflow: scroll;
    margin-right: 3%;
    margin-left: -3%;
    background-color: floralwhite;
    border-top: 5px solid;
    border-color: black;
    
}

#chart_div
{
    background-color:white;
    float: left;
    width: 70%;
    height: 500px;
    background-color: floralwhite;
    border-top: 5px solid;
    border-color: black;
}

#banner{
    margin-left: 30%;
    margin-top: -1px;
}

#bubblechart{
    margin-top: -30px;
}

#filters_div
{
    height: 150px;
    float: left;
    background-color: floralwhite;
}

#search_div{
    margin-top: 3%;
    margin-left: 12%;
    width: auto;
    float: left;
    background-color: floralwhite;
}

.link_div{
    float: left;
    clear: left;
    margin-top: 25px;
    margin-left: 15%;
}

.footer{
    float: left;
    height: 150px;
    width: 45%;
    border: 5px solid;
    border-color: black;
    margin-top: 20px;
}

#playlist{
    overflow: scroll;
}
#list{
    overflow: scroll;
}

li{
    border: 1px solid;
    border-color: black;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 1px;
    
}

#playlist_name{
    margin-left: 37%;
}
#playlist_description{
    margin-left: 37%;
}


.off
{
    opacity:.1;
}

.fade
{
    opacity:.5;
}

#song_id{
    width: 50%;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 2%;
}
.song-title{
    font-size: 25px;
    font-weight: bold;
    width: 40%;
    float: left;
    overflow-x: scroll;
    margin-left: 2%;
}
.song-title div{
    font-size: 20px;
    font-weight: normal;
}
.song-info{
    float: left;
    margin-top: -30px;
    display: block;
    width: 25%;
    
}
.song-info2{
    float: left;
    margin-top: -30px;
    display: block;
    width: 25%;
    
}

.filter-title{
    margin-bottom: -10px;
    margin-top: -10px;
}