html{
    font-family: Helvetica, sans-serif;
    background: black
}
#instruct{
    font-family: Helvetica, sans-serif;
    background: floralwhite;;
}
#instruct a{
    font-size: 20px
}

#instruct-title{
    overflow: scroll;
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 25%;
    font-size: 80px;
    font-weight: bold;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
    border-color: black;
}

.instruction_body a{
    margin-left: 76%;
    align-content: center;
}
#instruction_title{
    margin-left: 35%;
    align-content: center;
}

.instruction_div{
    overflow: scroll;
    font-size: 25px;
    width: 70%;
    margin-left: 15%;
}

.instruction_div ul li{
    overflow: scroll;
    margin-bottom: 10px;
}

#webtitle{
    overflow: scroll;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 25%;
    font-size: 80px;
    font-weight: bold;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
}


.filter_div span{
    overflow: scroll;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-left: 2px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 40px 40px 40px 40px;
}

.filter_div span:hover{
    background-color: lightgray;
}

.filter h4{
    text-decoration: underline;
    margin-bottom: 10px;
    margin-left: 30%;
    font-size: 20px;
    color: white;
}

#genres h4{
    margin-left: 42%;
    color: white;
    
}
#genres{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}


.filter:nth-child(n+2){
    margin-left: 20px;
    margin-top: -15px;
    
    float: left;
}


#list_div
{
    float: right;
    width: 25%;
    height: 780px; 
    overflow: scroll;
    margin-right: 2%;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
    border-color: white;
    
}

#list{
    margin-right: 40px;
}

#chart_div
{
    overflow: scroll;
    background-color:white;
    float: left;
    width: 70%;
    height: 500px;
    background-color: black;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;

}


#banner{
    margin-left: 30%;
    margin-top: 12px;
    color: white;
}

#bubblechart{
    margin-top: -15px;
    margin-left: 150px;
}

#filters_div
{
    overflow: scroll;
    height: 150px;
    width:67%;
    float: left;
    background-color: black;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#searches{
    overflow: scroll;
    margin-right: auto;
    margin-left: 6%;
    height: 145px;
    width: 18%;
    float: left;
    background-color: black;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
    border-color: white;
}

.link_div{
    float: left;
    clear: left;
    margin-top: 25px;
    margin-left: 15%;
}

.footer{
    overflow: scroll;
    display: block;
    float: left;
    height: 250px;
    width: 70%;
    margin-top: 10px;
    border: 10px solid #000000;
    border-radius: 40px 40px 40px 40px;
    border-color: white;
}

#playlist{
    overflow: scroll;
}
#list{
    overflow: scroll;
}

li{
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 1px;
    border: 1px solid #000000;
       
}

#playlist_name{
    font-size: 40px;
    padding-left: 20%;
    margin-bottom: 10px;
    color: white;
}
#playlist_description{
    padding-left: 25%;
    color: white;
}


.off
{
    opacity:.1;
}

.fade
{
    opacity:.5;
}

#song_id{
    width: 150px;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 2%;
    margin-bottom: 1%;
}

.song{
    cursor: pointer;
    padding-left: 10px;
}

.song-title{
    font-size: 35px;
    font-weight: bold;
    width: 40%;
    float: left;
    margin-left: 2%;
}
.song-title div{
    font-size: 30px;
    font-weight: normal;
}
.song-info{
    float: left;
    margin-top: -30px;
    display: block;
    width: 20%;
    
}
.song-info2{
    float: left;
    margin-top: -30px;
    display: block;
    width: 20%;
}

.song-info li{
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
}
.song-info2 li{
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.filter-title{
    margin-bottom: -10px;
    margin-top: -10px;
}

.search_div span{
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 40px 40px 40px 40px;
}


.search_div span:hover{
    background-color: lightgray;
}

.link_div{
    margin-top: 10px;
    margin-left: 60px;
}

.link_div a{
    font-size: 30px;
    color: blue;
}
.link_div a:hover{
    color: red;
}


.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}  
